body{
    background-color: #AEB6BF;
    ;
}
table {
    width: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
  
th, td {
    border: 3px solid #2E4053;
    padding: 10px;
    text-align: center;
}
  
th {
    background-color: #2E4053;
    color: white;
}
  
img {
    max-width: 100%;
}

h1 {
    text-align: center;
}

.hist{
    background-color: white;
}
